In [1]:
import sys    #for python version
import sklearn
import pandas
import numpy
import seaborn
import matplotlib

print('Python: {}'.format(sys.version))
print('Scikit-learn: {}'.format(sklearn.__version__))
print('Pandas: {}'.format(pandas.__version__))
print('Numpy: {}'.format(numpy.__version__))
print('seaborn: {}'.format(seaborn.__version__))
print('matplotlib: {}'.format(matplotlib.__version__))

Python: 3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]
Scikit-learn: 0.24.0
Pandas: 1.0.1
Numpy: 1.19.5
seaborn: 0.10.0
matplotlib: 3.1.3

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
#importing all the required ML packages
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from sklearn import metrics #accuracy measure
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score #for confusion matrix
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, precision_score, accuracy_score, f1_score, recall_score
from imblearn import under_sampling, over_sampling
from imblearn.over_sampling import SMOTE
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib import style
style.use('ggplot')

# To ignore all the warnings
import warnings
warnings.filterwarnings('ignore')

## Display all the columns of the dataframe
pd.pandas.set_option('display.max_columns',None)

Using TensorFlow backend.
C:\Python27\anaconda\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Python27\anaconda\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Python27\anaconda\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Python27\anaconda\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Python27\anaconda\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Python27\anaconda\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Python27\anaconda\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Python27\anaconda\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Python27\anaconda\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Python27\anaconda\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Python27\anaconda\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Python27\anaconda\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [3]:
#import the dataset from the location
df=pd.read_csv('TRAIN.csv',index_col = 0)

In [4]:
df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
Index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,2.245295,-1.160960,-1.966682,-1.430190,-0.607246,-1.508696,-0.074415,-0.655096,-1.970141,1.607283,-0.780267,-0.294928,1.236719,-0.135565,-0.832677,-1.400205,0.807960,-0.670317,-0.044106,-0.292081,0.010490,0.521714,-0.064971,0.048849,0.383290,0.103970,-0.047350,-0.064800,74.75,0
1,1.278609,0.102574,0.512079,0.003930,-0.723474,-1.334105,0.029958,-0.296595,0.128119,-0.209865,0.188511,0.674525,0.712608,0.122319,1.038024,0.128638,-0.222614,-0.687546,-0.056504,-0.040015,-0.081470,-0.182506,0.078986,0.789993,0.219794,0.938359,-0.078720,0.008119,1.38,0
2,1.466457,0.026088,-0.499298,-0.674372,-0.144883,-1.178075,0.058089,-0.420145,-1.359651,0.210249,-0.033777,-0.001594,1.767471,-1.212943,0.427684,1.252714,0.843412,-1.534474,0.830734,0.207653,-0.234087,-0.710542,-0.001242,-0.174713,0.533719,-0.454779,0.001524,0.030935,10.95,0
3,-0.922137,-0.371579,2.132018,-0.796997,0.324175,-1.162006,0.277208,-0.249586,-0.775648,-0.061757,-0.959725,0.408746,0.597641,-0.802430,-1.889520,-1.607785,-0.401475,0.729773,-2.445693,-0.461062,-0.302654,-0.246899,-0.045745,0.677110,0.016109,-0.734220,-0.034480,-0.064786,8.04,0
4,-1.166525,0.255439,2.108464,0.135019,-0.072979,0.910821,0.755918,0.355528,-0.422820,-0.842826,0.663538,0.624657,0.107262,-0.073654,-0.305506,0.618642,-0.952529,0.757618,-0.375461,0.353355,0.136470,0.017496,0.121017,0.636266,0.492943,-0.750242,0.029124,0.091303,175.00,0

In [5]:
df.shape

(284455, 30)

In [6]:
#Viewing the Structure and Summary of the data to understand the data
df.describe()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284455.000000,284455.000000,284455.000000,284455.000000,284455.000000,284455.000000,284455.000000,284455.000000,284455.000000,284455.000000,284455.000000,284455.000000,284455.000000,284455.000000,284455.000000,284455.000000,284455.000000,284455.000000,284455.000000,284455.000000,284455.000000,284455.000000,284455.000000,284455.000000,284455.000000,284455.000000,284455.000000,284455.000000,284455.000000,284455.000000
mean,0.000779,-0.000811,0.001275,-0.000793,0.000592,0.000186,0.000951,-0.000270,0.000505,0.000948,-0.000669,0.001013,0.000120,0.001309,0.000053,0.000711,0.001262,0.000469,-0.000116,-0.000029,-0.000171,-0.000050,0.000027,0.000018,-0.000051,0.000028,-0.000037,-0.000028,88.359646,0.001547
std,1.956147,1.650234,1.510626,1.414216,1.378329,1.332161,1.232971,1.190897,1.097805,1.085083,1.018770,0.993861,0.995318,0.951702,0.915289,0.872882,0.839648,0.836807,0.813859,0.771083,0.732765,0.725495,0.624473,0.605645,0.521274,0.482243,0.403488,0.330127,250.177771,0.039299
min,-56.407510,-72.715728,-48.325589,-5.683171,-113.743307,-26.160506,-43.557242,-73.216718,-13.434066,-24.588262,-4.797473,-18.683715,-5.791881,-19.214325,-4.498945,-13.563273,-25.162799,-9.335193,-7.213527,-54.497720,-34.830382,-10.933144,-44.807735,-2.836627,-10.295397,-2.604551,-22.565679,-15.430084,0.000000,0.000000
25%,-0.920117,-0.598750,-0.889749,-0.848835,-0.691343,-0.768227,-0.553788,-0.208633,-0.642669,-0.535273,-0.762625,-0.405250,-0.648393,-0.425253,-0.582798,-0.467797,-0.483632,-0.498663,-0.456281,-0.211704,-0.228434,-0.542432,-0.161861,-0.354545,-0.317194,-0.326951,-0.070845,-0.052957,5.600000,0.000000
50%,0.018330,0.065238,0.179953,-0.020206,-0.054243,-0.274172,0.040265,0.022328,-0.051183,-0.092820,-0.032963,0.140170,-0.013518,0.050731,0.048122,0.066473,-0.065577,-0.003506,0.003738,-0.062480,-0.029520,0.006675,-0.011192,0.040977,0.016461,-0.052077,0.001337,0.011238,22.000000,0.000000
75%,1.315693,0.803357,1.027332,0.742635,0.612015,0.398641,0.570515,0.327214,0.597346,0.454005,0.739251,0.618276,0.662590,0.493220,0.648842,0.523282,0.399776,0.500875,0.458768,0.133013,0.186326,0.528481,0.147659,0.439527,0.350697,0.240929,0.091023,0.078271,77.200000,0.000000
max,2.454930,22.057729,9.382558,16.875344,34.801666,73.301626,120.589494,20.007208,15.594995,23.745136,12.018913,7.848392,7.126883,10.526766,8.877742,17.315112,9.253526,5.041069,5.591971,39.420904,27.202839,10.503090,22.528412,4.584549,7.519589,3.517346,31.612198,33.847808,25691.160000,1.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 284455 entries, 0 to 284454
Data columns (total 30 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   V1      284455 non-null  float64
 1   V2      284455 non-null  float64
 2   V3      284455 non-null  float64
 3   V4      284455 non-null  float64
 4   V5      284455 non-null  float64
 5   V6      284455 non-null  float64
 6   V7      284455 non-null  float64
 7   V8      284455 non-null  float64
 8   V9      284455 non-null  float64
 9   V10     284455 non-null  float64
 10  V11     284455 non-null  float64
 11  V12     284455 non-null  float64
 12  V13     284455 non-null  float64
 13  V14     284455 non-null  float64
 14  V15     284455 non-null  float64
 15  V16     284455 non-null  float64
 16  V17     284455 non-null  float64
 17  V18     284455 non-null  float64
 18  V19     284455 non-null  float64
 19  V20     284455 non-null  float64
 20  V21     284455 non-null  float64
 21  V22     284455 non-null  float64
 22  V23     284455 non-null  float64
 23  V24     284455 non-null  float64
 24  V25     284455 non-null  float64
 25  V26     284455 non-null  float64
 26  V27     284455 non-null  float64
 27  V28     284455 non-null  float64
 28  Amount  284455 non-null  float64
 29  Class   284455 non-null  int64
dtypes: float64(29), int64(1)
memory usage: 67.3 MB

In [8]:
#Number of Fraudalent and Non-Fraudalent Transactions

fraud        = df.loc[df['Class']==1]
normal_trans = df.loc[df['Class']==0]

print("Number of Fraudalent Transactions : ", len(fraud))
print("Number of Non-Fraudalent Transactions : ", len(normal_trans))

Number of Fraudalent Transactions :  440
Number of Non-Fraudalent Transactions :  284015

From this we can observe that data is highly imbalanced as Non-Fraudalent Transactions are higher than Fraudalent so to solve this we can use smote analysis.

In [9]:
#The Amount variable should be scaled so that all the variable will be in same scale 
scaler = StandardScaler()
df['Amount'] = scaler.fit_transform(df['Amount'].values.reshape(-1, 1))

In [10]:
df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
Index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,2.245295,-1.160960,-1.966682,-1.430190,-0.607246,-1.508696,-0.074415,-0.655096,-1.970141,1.607283,-0.780267,-0.294928,1.236719,-0.135565,-0.832677,-1.400205,0.807960,-0.670317,-0.044106,-0.292081,0.010490,0.521714,-0.064971,0.048849,0.383290,0.103970,-0.047350,-0.064800,-0.054400,0
1,1.278609,0.102574,0.512079,0.003930,-0.723474,-1.334105,0.029958,-0.296595,0.128119,-0.209865,0.188511,0.674525,0.712608,0.122319,1.038024,0.128638,-0.222614,-0.687546,-0.056504,-0.040015,-0.081470,-0.182506,0.078986,0.789993,0.219794,0.938359,-0.078720,0.008119,-0.347672,0
2,1.466457,0.026088,-0.499298,-0.674372,-0.144883,-1.178075,0.058089,-0.420145,-1.359651,0.210249,-0.033777,-0.001594,1.767471,-1.212943,0.427684,1.252714,0.843412,-1.534474,0.830734,0.207653,-0.234087,-0.710542,-0.001242,-0.174713,0.533719,-0.454779,0.001524,0.030935,-0.309419,0
3,-0.922137,-0.371579,2.132018,-0.796997,0.324175,-1.162006,0.277208,-0.249586,-0.775648,-0.061757,-0.959725,0.408746,0.597641,-0.802430,-1.889520,-1.607785,-0.401475,0.729773,-2.445693,-0.461062,-0.302654,-0.246899,-0.045745,0.677110,0.016109,-0.734220,-0.034480,-0.064786,-0.321051,0
4,-1.166525,0.255439,2.108464,0.135019,-0.072979,0.910821,0.755918,0.355528,-0.422820,-0.842826,0.663538,0.624657,0.107262,-0.073654,-0.305506,0.618642,-0.952529,0.757618,-0.375461,0.353355,0.136470,0.017496,0.121017,0.636266,0.492943,-0.750242,0.029124,0.091303,0.346316,0

In [11]:
#Splitting the Data
X = df.drop(['Class'], axis =1)
y = df['Class']

## Buliding the model to predict

In [12]:
#Handling the imbalanced data by using smote technique
oversample = SMOTE()
X_sample , y_sample = oversample.fit_sample(X, y)

In [13]:
X_sample.columns

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11',
       'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21',
       'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount'],
      dtype='object')

In [18]:
X_sample.shape,y_sample.shape

((568030, 29), (568030,))

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_sample, y_sample, test_size = 0.3)

In [20]:
X_train = np.array(X_train)
X_test  = np.array(X_test)
y_train = np.array(y_train)
y_test  = np.array(y_test)

In [21]:
model = Sequential()
model.add(Dense(input_dim = 29, units=16, activation = 'relu',kernel_initializer='he_uniform'))    #adding input layer
model.add(Dense(units = 24, activation = 'relu',kernel_initializer='he_uniform'))                  #adding 2nd hidden layer
model.add(Dropout(0.5))                                                                            #adding dropout layer
model.add(Dense(units = 20, activation = 'relu',kernel_initializer='he_uniform'))                  #adding 3rd hidden layer
model.add(Dropout(0.5))                                                                            #adding dropout layer
model.add(Dense(units = 24, activation = 'relu',kernel_initializer='he_uniform'))                  #adding 4th hidden layer
model.add(Dropout(0.5))  
model.add(Dense(units = 20, activation = 'relu',kernel_initializer='he_uniform'))                  #adding 5th hidden layer
model.add(Dense(units = 1, activation = 'sigmoid'))                                                #adding output layer

In [22]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 16)                480
_________________________________________________________________
dense_2 (Dense)              (None, 24)                408
_________________________________________________________________
dropout_1 (Dropout)          (None, 24)                0
_________________________________________________________________
dense_3 (Dense)              (None, 20)                500
_________________________________________________________________
dropout_2 (Dropout)          (None, 20)                0
_________________________________________________________________
dense_4 (Dense)              (None, 24)                504
_________________________________________________________________
dropout_3 (Dropout)          (None, 24)                0
_________________________________________________________________
dense_5 (Dense)              (None, 20)                500
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 21
=================================================================
Total params: 2,413
Trainable params: 2,413
Non-trainable params: 0
_________________________________________________________________

In [23]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
model.fit(X_train, y_train, batch_size = 10, epochs = 10)

WARNING:tensorflow:From C:\Python27\anaconda\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From C:\Python27\anaconda\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Epoch 1/10
397621/397621 [==============================] - 179s 450us/step - loss: 0.1013 - accuracy: 0.9652
Epoch 2/10
397621/397621 [==============================] - 178s 448us/step - loss: 0.0305 - accuracy: 0.9921
Epoch 3/10
397621/397621 [==============================] - 180s 453us/step - loss: 0.0220 - accuracy: 0.9948
Epoch 4/10
397621/397621 [==============================] - 181s 454us/step - loss: 0.0196 - accuracy: 0.9957
Epoch 5/10
397621/397621 [==============================] - 180s 453us/step - loss: 0.0180 - accuracy: 0.9963
Epoch 6/10
397621/397621 [==============================] - 181s 454us/step - loss: 0.0173 - accuracy: 0.9964
Epoch 7/10
397621/397621 [==============================] - 182s 458us/step - loss: 0.0172 - accuracy: 0.9966
Epoch 8/10
397621/397621 [==============================] - 184s 464us/step - loss: 0.0175 - accuracy: 0.9965
Epoch 9/10
397621/397621 [==============================] - 184s 462us/step - loss: 0.0167 - accuracy: 0.9966
Epoch 10/10
397621/397621 [==============================] - 185s 465us/step - loss: 0.0205 - accuracy: 0.9962

In [24]:
score = model.evaluate(X_test, y_test)
print(score)

170409/170409 [==============================] - 10s 61us/step
[0.011805690529994821, 0.9976409673690796]

In [25]:
y_pred = model.predict(X_test)

In [26]:
cm = confusion_matrix(y_test, y_pred.round())
print(cm)

[[84775   344]
 [   58 85232]]

In [27]:
print("Accuracy Score : ", accuracy_score(y_test, y_pred.round()))
print("f1 Score : ", f1_score(y_test, y_pred.round()))
print("precision score : ", precision_score(y_test, y_pred.round()))
print("Recall Score : ", recall_score(y_test, y_pred.round()))

Accuracy Score :  0.997640969667095
f1 Score :  0.9976472791544251
precision score :  0.9959801813592596
Recall Score :  0.9993199671708289

In [28]:
test_data = pd.read_csv('TEST.csv',index_col=0)

In [29]:
predict = model.predict(test_data)

In [30]:
predict

array([[0.00140581],
       [0.00140581],
       [0.00140581],
       [0.99999714],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [1.        ],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [1.        ],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [1.        ],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [1.        ],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [1.        ],
       [1.        ],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [1.        ],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [1.        ],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [1.        ],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [1.        ],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [1.        ],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [1.        ],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [1.        ],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [1.        ],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [1.        ],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [1.        ],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [1.        ],
       [0.00140581],
       [0.00140581],
       [0.9999999 ],
       [0.00140581],
       [0.9999996 ],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [1.        ],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [1.        ],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581],
       [0.00140581]], dtype=float32)

In [31]:
output = pd.DataFrame(predict)

In [32]:
output.index.name = 'Index'

In [33]:
output.columns = ['Class']

In [34]:
output

          Class
Index
0      0.001406
1      0.001406
2      0.001406
3      0.999997
4      0.001406
...         ...
347    0.001406
348    0.001406
349    0.001406
350    0.001406
351    0.001406

[352 rows x 1 columns]

In [72]:
output.to_csv('predict_Outputs.csv', index = True)